.navbar {
  position: absolute;         /* Puts it over the slideshow */
  top: -30px; /* moving nav bar up a little */
  width: 95%;
  max-width: 100%;                /* Full navbar width */
  z-index: 10;                /* Ensure navbar above the slideshow */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: transparent;   
  color: white;               /* Text visible on dark background */
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: rgb(179, 170, 170);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'Poppins';
}

.nav-links a:hover {
  color: #ffcc00;
}


.logo {
  display: flex;
  align-items: left;
  text-decoration: none;
}


