
.form-group {
  width: 400px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

input {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(41, 102, 168, 0.3);
  
}

/* == LOGIN CONTAINER == */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-family: Arial, sans-serif;
}

/* == LOGIN BUTTON == */
.login-button {
  width: 400px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;

}

.login-button:hover {
  box-shadow: 0 0 30px rgba(32, 121, 216, 0.3);
}

/* == LINK TEXT == */
p {
  margin-top: 30px;
  font-size: 0.95rem;
  color: #555;
}

/* == SIGN UP LINK == */
p a {
  color: #007bff;
  text-decoration: underline;
  font-weight: 500;
}

/* == FORGOT PASSWORD LINK == */
.link-forgot-password {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
  display: inline-block;
}

.link-forgot-password:hover {
  color: #0056b3;
  text-decoration: underline;
}

