/* App.css by Thamasha Kodithuwakku 24351177 */

.App {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #494747, #dad6d6, #f5f5f5);
    min-height: 100vh; 
  }
  
  .App .content {
    flex: 1; 
  }
  
